* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: black;
  background-color: white;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 5vh 2vw;
}

.title {
  margin-bottom: 2vw;
  text-align: center;
}

.breed-select {
  display: block;
  margin: auto;
}

.loader {
  display: block;
  height: 50vh;
  width: 100%;
  margin: 5vh 0;
}

/* .loader {
  width: 48px;
  height: 48px;
  /* display: inline-block; */
  /* position: relative; */
  /* display: flex;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%):
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
} */

.cat-info {
  display: flex;
  flex-direction: column;
  margin: 5vh 0;
}

.cat-img {
  max-width: 100%;
  padding: 2vh 0;
}

.cat-img > img {
  width: 100%;
}

.cat-text {
  padding: 2vh 2vw;
}

.breed-name {
  display: block;
  font-size: 32px;
  margin-bottom: 12px;
}

.breed-description {
  display: block;
  margin-bottom: 24px;
}

.breed-temperament {
  display: block;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  .cat-text {
    padding: 2vh 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .cat-info {
    flex-direction: row;
  }
  .cat-img {
    max-width: 50%;
    padding: 0 2vw;
  }
  .cat-text {
    max-width: 50%;
    padding: 0 2vw;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .cat-img {
    max-width: 30%;
  }
  .cat-text {
    max-width: 70%;
  }
}
